---
import FormRegistration from "../FormRegistration.astro";
---

<section class="drw-section-registration">
  <header class="_registration-header">
    <h2 class="+typo-h2 +text-center">Заполните форму регистрации</h2>
  </header>

  <div class="_registration-box">
    <FormRegistration />
  </div>
</section>

<style is:global>
  .drw-section-registration {
    ._registration-header {
      margin-bottom: var(--drw-gap-12);
      filter: var(--drw-filter-shadow-heading);

      @media (width < 768px) {
        margin-bottom: var(--drw-gap-6);
      }
    }

    ._registration-box {
      padding: var(--drw-gap-12) var(--drw-gap-16);
      background: var(--drw-color-surface-primary);
      border-radius: var(--drw-radius-4);

      @media (width < 768px) {
        padding: var(--drw-gap-10) var(--drw-gap-6);
      }
    }
  }
</style>
