---
import AppLayout from "@/layouts/AppLayout.astro";
import AppFooter from "@/components/AppFooter.astro";
import AppHeader from "@/components/AppHeader.astro";
import Container from "@/components/Container.astro";
import SectionHero from "@/components/sections/SectionHero.astro";
import SectionRegistration from "@/components/sections/SectionRegistration.astro";
import SectionContacts from "@/components/sections/SectionContacts.astro";
---

<AppLayout>
  <div class="drw-content">
    <main>
      <Container size="m">
        <AppHeader />
        <SectionHero />
      </Container>

      <Container size="s">
        <SectionRegistration />
        <SectionContacts />
      </Container>
    </main>
    <AppFooter />
  </div>
</AppLayout>

<style is:global>
  .drw-content {
    display: flex;
    flex-direction: column;
    min-height: inherit;

    main {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: var(--drw-gap-16);
      padding-bottom: var(--drw-gap-16);

      @media (width < 768px) {
        margin-top: var(--drw-gap-10);
      }
    }

    section + section {
      margin-top: var(--drw-gap-16);

      @media (width < 768px) {
        margin-top: var(--drw-gap-10);
      }
    }
  }
</style>
