---
import DrWebLogo from "@/icons/drweb-logo.svg";
---

<header class="drw-header">
  <a class="_drw-header-link" href="/">
    <DrWebLogo />
  </a>
</header>

<style is:global>
  .drw-header {
    padding-block: var(--drw-gap-12) var(--drw-gap-4);
    color: var(--drw-color-text-tertiary);
    text-align: center;

    ._drw-header-link {
      display: flex;
      justify-content: center;
      color: inherit;
    }
  }
</style>
