---
import DrWebLogo from "@/icons/drweb-logo.svg";
---

<header class="drw-header">
  <a class="_header-link" href="/">
    <DrWebLogo />
  </a>
</header>

<style is:global>
  .drw-header {
    margin-bottom: var(--drw-gap-8);
    color: var(--drw-color-text-tertiary);
    text-align: center;

    ._header-link {
      display: flex;
      justify-content: center;
      color: inherit;
    }
  }
</style>
