---

---

<div class="drw-bg-changer">
  <div class="_bg-changer-layer-base"></div>
  <div class="_bg-changer-layer-highlight"></div>
  <div class="_bg-changer-layer-pulse"></div>

  <div class="_bg-changer-lava">
    <svg
      width="902"
      height="851"
      viewBox="0 0 902 851"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="434.5" cy="563.5" r="124.5" fill="#5FD900"></circle>
      <circle cx="269" cy="349" r="117" fill="#5FD900"></circle>
      <circle cx="552.5" cy="338.5" r="175.5" fill="#5FD900"></circle>
    </svg>
  </div>

  <div class="_bg-changer-lava +twin">
    <svg
      width="902"
      height="851"
      viewBox="0 0 902 851"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="434.5" cy="563.5" r="124.5" fill="#5FD900"></circle>
      <circle cx="269" cy="349" r="117" fill="#5FD900"></circle>
      <circle cx="552.5" cy="338.5" r="175.5" fill="#5FD900"></circle>
    </svg>
  </div>
</div>

<style is:global>
  .drw-bg-changer {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    pointer-events: none;
    overflow: clip;

    > [class*="_bg-changer-layer"] {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: max(1920px, 100%) auto;
      background-position: top center;
    }

    ._bg-changer-layer-base {
      background-image: url(/images/background-default.webp);
    }

    ._bg-changer-layer-highlight {
      background-image: url(/images/background-highlight.webp);
      opacity: 0;
      animation: 6s showin 4s infinite linear;
      mix-blend-mode: soft-light;
    }

    ._bg-changer-lava {
      position: absolute;
      top: 10%;
      left: 50%;
      translate: -75%;
      filter: blur(75px);

      &.\+twin {
        top: 20%;
        translate: -20%;
        rotate: 60deg;
      }

      circle {
        animation: circle1 14s infinite linear;
        will-change: translate;

        &:nth-child(2) {
          animation-name: circle2;
        }

        &:nth-child(3) {
          animation-name: circle3;
        }
      }
    }
  }

  @keyframes showin {
    0%,
    15%,
    25%,
    35%,
    100% {
      opacity: 0;
    }

    10% {
      opacity: 1;
    }
    25%,
    30% {
      opacity: 0.25;
    }
  }

  @keyframes circle1 {
    0%,
    100% {
      translate: 0% 0%;
    }
    33% {
      translate: -10% -25%;
    }
    66% {
      translate: 10% -25%;
    }
  }

  @keyframes circle2 {
    0%,
    100% {
      translate: 0% 0%;
    }

    33% {
      translate: 25% 0;
    }

    66% {
      translate: 15% 25%;
    }
  }

  @keyframes circle3 {
    0%,
    100% {
      translate: 0% 0%;
    }

    33% {
      translate: -10% 25%;
    }

    66% {
      translate: -25% 7%;
    }
  }
</style>
