---
export interface Props {
  dark?: boolean;
}

const { dark = false } = Astro.props;
---

<div class:list={['drw-content-box', { '+dark': dark }]}>
  <slot/>
</div>

<style is:global>
  .drw-content-box {
    padding: var(--drw-gap-12) var(--drw-gap-16);
    background: var(--drw-color-surface-primary);
    border-radius: var(--drw-radius-4);

    @media (width < 768px) {
      padding: var(--drw-gap-10) var(--drw-gap-6);
    }

    &.\+dark {
      padding: var(--drw-gap-6) var(--drw-gap-12);
      background: radial-gradient(circle at 100% 0%, #575757, #212121);

      @media (width < 768px) {
        padding: var(--drw-gap-8) var(--drw-gap-6);
      }
    }
  }
</style>