---
export interface Props {
  id: string;
  errorMsg?: string;
  [key: string]: any;
}

const { id, errorMsg = "Соглашайся, не пожалеешь", ...attrs } = Astro.props;
---

<div class="drw-checkbox">
  <div class="_checkbox-inner">
    <div class="_checkbox-fakebox">
      <input
        class="_checkbox-el"
        {id}
        type="checkbox"
        {...attrs}
      />
    </div>
    <label class="_checkbox-label" for={id}>
      <slot />
    </label>
  </div>
  <p class="_checkbox-error">{errorMsg}</p>
</div>

<style is:global>
  .drw-checkbox {
    ._checkbox-inner {
      display: flex;
      align-items: center;
      gap: var(--drw-gap-2);
    }

    ._checkbox-el {
      display: none;
    }

    ._checkbox-fakebox {
      flex-shrink: 0;
      display: flex;
      align-self: flex-start;
      width: 16px;
      height: 16px;
      border: 1px solid var(--drw-color-line-border);
      border-radius: var(--drw-radius-1);
    }

    & ._checkbox-fakebox:has(:checked) {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      background: var(--drw-color-accent);
      border-color: var(--drw-color-accent);

      &::before {
        content: '';
        top: 0;
        left: 0;
        width: 6px;
        height: 10px;
        border-bottom: 2px solid var(--drw-color-bg-primary);
        border-right: 2px solid var(--drw-color-bg-primary);
        rotate: 45deg;
        translate: 0 -10%;
      }
    }

    ._checkbox-label {
      display: block;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: var(--drw-gap-2);
      color: var(--drw-color-text-primary);
      cursor: pointer;
      user-select: none;

      a {
        color: inherit;
      }
    }

    &:has(._checkbox-label:hover) ._checkbox-fakebox:has(:not(:checked)) {
      border-color: var(--drw-color-line-border-focus);
    }

    ._checkbox-error {
      display: none;
      margin-top: var(--drw-gap-2);
    }

    &:has(.\+error) ._checkbox-error {
      display: block;
      color: var(--drw-color-status-error);
      font-size: 12px;
    }
  }
</style>
