---
export interface Props {
  id: string;
  errorMsg?: string;
  errorField?: string;
  [key: string]: any;
}

const {
  id,
  errorMsg = "Требуется ваше согласие",
  errorField,
  ...attrs
} = Astro.props;

// Имя поля для ошибки (по умолчанию извлекаем из id)
const fieldName = errorField || id.replace("reg-form-", "");
---

<div class="drw-checkbox">
  <div class="_checkbox-inner">
    <label class="_checkbox-label" for={id}>
      <input class="_checkbox-el" {id} type="checkbox" {...attrs} />
      <div class="_checkbox-fakebox"></div>
      <span>
        <slot />
      </span>
    </label>
  </div>
  <p
    class="_checkbox-error +form-error-message +typo-caption"
    x-text={`errors.${fieldName} || '${errorMsg}'`}
  >
  </p>
</div>

<style is:global>
  .drw-checkbox {
    ._checkbox-inner {
      display: flex;
      align-items: center;
    }

    ._checkbox-el {
      display: none;
    }

    ._checkbox-fakebox {
      flex-shrink: 0;
      display: flex;
      align-self: flex-start;
      width: 16px;
      height: 16px;
      border: 1px solid var(--drw-color-line-border);
      border-radius: var(--drw-radius-1);
      transition: border-color 0.25s;
    }

    & ._checkbox-el:checked + ._checkbox-fakebox {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      background: var(--drw-color-accent);
      border-color: var(--drw-color-accent);

      &::before {
        content: "";
        top: 0;
        left: 0;
        width: 6px;
        height: 10px;
        border-bottom: 2px solid var(--drw-color-bg-primary);
        border-right: 2px solid var(--drw-color-bg-primary);
        rotate: 45deg;
        translate: 0 -10%;
        transition: 0.25s;
        transition-property: opacity, scale;

        @starting-style {
          opacity: 0;
          scale: 0.7;
        }
      }
    }

    ._checkbox-label {
      display: flex;
      gap: var(--drw-gap-2);
      font-size: 14px;
      line-height: 18px;
      margin-bottom: var(--drw-gap-2);
      color: var(--drw-color-text-primary);
      cursor: pointer;
      user-select: none;

      a {
        color: inherit;
      }

      &:hover {
        ._checkbox-fakebox {
          border-color: var(--drw-color-accent);
        }
      }
    }

    ._checkbox-error {
      display: none;
      margin-top: var(--drw-gap-2);
    }

    &:has(.\+error) ._checkbox-error {
      display: block;
      margin-top: 0;
      margin-left: calc(16px + var(--drw-gap-2));
    }
  }
</style>
